@use "colors";

html {
  font-size: 62.5%;
}

body {
  background: url("../images/bg-mobile.png") no-repeat;
  font-family: "Raleway", sans-serif;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.top-card {
  background-color: colors.$darkBlue;
  border-radius: 1rem;
  border-top-right-radius: 9rem;
  padding: 4rem;
  margin-bottom: 1.5rem;

  &__logo {
    margin-bottom: 3rem;
  }

  &__icons-wrapper {
    display: flex;
    gap: 2rem;
  }
  &__icons {
    background-color: colors.$veryDarkBlue;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }
}

.bottom-card {
  background-color: colors.$darkBlue;
  border-radius: 1rem;
  padding: 2rem 3rem 3rem;
  position: relative;

  &__used-gb {
    color: colors.$paleBlue;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 85%;
    text-align: center;
  }

  &__bar {
    background-color: colors.$veryDarkBlue;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__progress-bar {
    height: 1.6rem;
    width: 75%;
    border-radius: 1rem;
    background-image: linear-gradient(to right, colors.$gradient);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2px;
  }

  &__ball {
    background-color: #ffffff;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 1rem;
  }

  &__reference-numbers {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  &__gb-left {
    position: absolute;
    bottom: -35px;
    left: calc(50% - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 17rem;
    height: 7rem;
    border-radius: 1rem;
    font-size: 4rem;
    font-weight: 700;
  }
  &__gb-left-text {
    font-size: 1.3rem;
    color: colors.$grayishBlue;
    padding-left: 1rem;
    letter-spacing: 1px;
  }
}

.attribution { font-size: 1.1rem; text-align: center; color:#ffffff }
.attribution a { color: hsl(6, 100%, 80%); }


